@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background: rgba(0, 0, 0, .65) url('https://www.newbalance.com/dw/image/v2/AAGI_PRD/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw727fec9c/images/page-designer/2024/February/16191_Comp_A_Desktop.jpg?sw=1616&sfrm=jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 600px;
    background-blend-mode: darken;
}